.wrapper {
	width: 600px;
	margin: auto;
	text-align: center;
	font-size: 24px;
	color:rgb(76, 70, 87);
}
.board{
	background: #eee;
}
.cube{
	float: left;
	display: inline-block;
	border: 1px solid green;
	width: 192px;
	height: 192px;
	margin: 2px;
	color: maroon;
	font-size: 186px;
	line-height: 190px;
	background: #9EE1BF;
	text-shadow: 15px 15px 35px #040404;
	box-shadow: 15px 15px 15px #555
}